@model IEnumerable<BooksStore.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center mb-4">Authors List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Create New Author</a>
</p>

<div class="card mt-4">
    <div class="card-header bg-primary text-white">
        <h4 class="card-title">Authors</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" class="btn btn-outline-warning btn-sm" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" class="btn btn-outline-info btn-sm" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Delete" class="btn btn-outline-danger btn-sm" asp-route-id="@item.Id">Delete</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
